/* Postavite osnovne stilove za body */

body {
    margin: 0;
    padding: 0;
    background-color: rgb(252, 250, 252);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh; /* Minimalna visina ekrana */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(images/IMG_6094.jpg);
    background-size: cover; /* Slika će popuniti cijeli ekran */
    background-repeat: no-repeat; /* Sprječava ponavljanje slike */
    background-position: center; /* Centrirajte sliku */
}

/* Prilagodite stilove za .container */

.container {
    text-align: center;
    max-width: 80%; /* Promenjena maksimalna širina kontejnera */
}

/* Prilagodite stilove za .main-image-container */

.main-image-container {
    max-width: 100%;
    overflow: hidden;
}

/* Prilagodite stilove za .tile */

.tile {
    width: 80%;
    height: auto; /* Promenjena visina */
    margin: 10px; /* Povećan razmak između elemenata */
    border-radius: 48px;
    display: flex;
    align-items: center;
    padding: 10px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
    animation-name: breathe;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    background: linear-gradient(to bottom, rgba(211, 211, 211, 1), rgba(255, 255, 255, 1));
}

/* Dodajte media query za prilagođavanje stilova za manje uređaje */

@media screen and (max-width: 414px) {
    .container {
        max-width: 90%; /* Prilagodite maksimalnu širinu kontejnera za manje uređaje */
    }

    .tile {
        width: 90%; /* Prilagodite širinu pločica za manje uređaje */
    }
}


.newimage {
    padding:0;
    margin:auto;
}

.newimage img {
    max-width: 230px;
    height: auto;
    margin: 0 auto; /* Dodajemo ovaj stil za centriranje slike */
}


/* Dodajte animaciju breathe */

@keyframes breathe {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

/* Ostali stilovi ostaju nepromenjeni */

/* Dodajte sljedeće stilove u vašu CSS datoteku */
